<% if @publisher.errors.any? %>
  <header>
    <h4>
      Oops! The <%= @publisher.class.name.humanize.downcase %> could not be saved.
      Please correct the following <%= pluralize(@publisher.errors.count, "error") %>:
    </h4>
  </header>
  <ul>
    <% @publisher.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
