<h1> <%= @publisher.name %> </h1>

<p>
  Origin country:
  <%= @publisher.origin %>
</p>
<p>
  Publisher books:
</p>

<% @publisher.books.each do |book| %>
  <p>
    <%= link_to book.title, book_path(book) %>
  </p>
<% end %>

<%= link_to "Edit", edit_publisher_path if policy(Publisher).update? %>
