<% if @book.errors.any? %>
  <header>
    <h4>
      Oops! The <%= @book.class.name.humanize.downcase %> could not be saved.
      Please correct the following <%= pluralize(@book.errors.count, "error") %>:
    </h4>
  </header>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
