<% if current_user_admin? %>
  <%= link_to "Add New Book", new_book_path %>
<% end %>

<h1>Books</h1>
<p>Available books: <%= @books.length %> </p>

<% @books.each do |book| %>
  <p>
    <%= link_to book.title, book %>
  </p>
<% end %>
