<h1> Reservation for <%= @reservation.book.title %> </h1>

<p>
  User: <%= link_to @reservation.user.name, user_path(@reservation.user) %>
</p>
<p>
  Book is reserved until:
<%= @reservation.date_of_return.strftime('%d-%m-%Y') %>
</p>
